<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>BBB</h3>
            </div>
            <div class="col-md-4">
                <h3>About</h3>
            </div>
            <div class="col-md-4">
                <h3>Author</h3>
                <p>Kari &and; Shinta.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">&copy; 2023.</p>
            </div>
        </div>
    </div>
</footer>