<div class="container">
    <div style="margin-top: 30px">
        <a class="btn btn-primary btn-lg active" href="/login">Login</a>
        <a class="btn btn-primary btn-lg active" href="/register">Register</a>
    </div>
</div>