<div class="container">
    <div class="offset-4 col-md-4" style="margin-top: 30px">
        <div style="padding: 10px;">
            <center><a class="btn btn-primary btn-lg active" href="/login">Login</a></center>
        </div>
        <div style="padding: 10px;">
            <center><a class="btn btn-primary btn-lg active" href="/register">Register</a></center>
        </div>
    </div>
</div>